/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HatzuStyling */

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 800ms;
  overflow: hidden;
  flex-wrap: wrap;
  background: linear-gradient(-45deg, #52eea8, #e489ac, #a4efa6, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

main {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 800ms;
  flex-wrap: wrap;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.disc {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(69, 68, 68, 1) 50%,
    rgba(25, 25, 25, 1) 100%
  );
  width: 500px;
  height: 500px;
  color: rgb(0, 0, 0);
  border-radius: 100%;
  animation: rotate 2.5s linear infinite;
  animation-play-state: initial;
  transition: all 800ms;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
}

.disc::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(25, 25, 25);
  background: radial-gradient(
    circle,
    rgba(25, 25, 25, 1) 0%,
    rgba(25, 25, 25, 1) 30%,
    rgba(255, 255, 255, 1) 31%,
    rgba(25, 25, 25, 1) 32%,
    rgba(255, 255, 255, 1) 33%,
    rgba(25, 25, 25, 1) 34%,
    rgba(255, 255, 255, 1) 35%,
    rgba(25, 25, 25, 1) 36%,
    rgba(255, 255, 255, 1) 37%,
    rgba(25, 25, 25, 1) 38%,
    rgba(255, 255, 255, 1) 39%,
    rgba(25, 25, 25, 1) 40%,
    rgba(255, 255, 255, 1) 41%,
    rgba(25, 25, 25, 1) 42%,
    rgba(255, 255, 255, 1) 43%,
    rgba(25, 25, 25, 1) 44%,
    rgba(255, 255, 255, 1) 45%,
    rgba(25, 25, 25, 1) 46%,
    rgba(255, 255, 255, 1) 47%,
    rgba(25, 25, 25, 1) 48%,
    rgba(255, 255, 255, 1) 49%,
    rgba(25, 25, 25, 1) 50%,
    rgba(255, 255, 255, 1) 51%,
    rgba(25, 25, 25, 1) 52%,
    rgba(255, 255, 255, 1) 53%,
    rgba(25, 25, 25, 1) 54%,
    rgba(255, 255, 255, 1) 55%,
    rgba(25, 25, 25, 1) 56%,
    rgba(255, 255, 255, 1) 57%,
    rgba(25, 25, 25, 1) 58%,
    rgba(255, 255, 255, 1) 59%,
    rgba(25, 25, 25, 1) 60%,
    rgba(255, 255, 255, 1) 61%,
    rgba(25, 25, 25, 1) 62%,
    rgba(255, 255, 255, 1) 63%,
    rgba(25, 25, 25, 1) 64%,
    rgba(255, 255, 255, 1) 65%,
    rgba(25, 25, 25, 1) 66%,
    rgba(255, 255, 255, 1) 67%,
    rgba(25, 25, 25, 1) 68%,
    rgba(255, 255, 255, 1) 69%,
    rgba(25, 25, 25, 1) 70%,
    rgba(255, 255, 255, 1) 71%,
    rgba(25, 25, 25, 1) 72%,
    rgba(255, 255, 255, 1) 73%,
    rgba(25, 25, 25, 1) 74%,
    rgba(255, 255, 255, 1) 75%,
    rgba(25, 25, 25, 1) 76%,
    rgba(255, 255, 255, 1) 77%,
    rgba(25, 25, 25, 1) 78%,
    rgba(255, 255, 255, 1) 79%,
    rgba(25, 25, 25, 1) 80%,
    rgba(255, 255, 255, 1) 81%,
    rgba(25, 25, 25, 1) 82%,
    rgba(255, 255, 255, 1) 83%,
    rgba(25, 25, 25, 1) 84%,
    rgba(255, 255, 255, 1) 85%,
    rgba(25, 25, 25, 1) 86%,
    rgba(255, 255, 255, 1) 87%,
    rgba(25, 25, 25, 1) 88%,
    rgba(255, 255, 255, 1) 89%,
    rgba(25, 25, 25, 1) 90%,
    rgba(255, 255, 255, 1) 91%,
    rgba(25, 25, 25, 1) 92%,
    rgba(255, 255, 255, 1) 93%,
    rgba(25, 25, 25, 1) 94%,
    rgba(255, 255, 255, 1) 95%,
    rgba(25, 25, 25, 1) 96%,
    rgba(255, 255, 255, 1) 97%,
    rgba(25, 25, 25, 1) 98%,
    rgba(255, 255, 255, 1) 99%,
    rgba(25, 25, 25, 1) 100%
  );

  z-index: 5;
  border-radius: 100%;
  filter: opacity(0.015);
}

.disc::before {
  content: "";
  position: absolute;
  width: 45%;
  height: 45%;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgb(42, 42, 42) 25%,
    rgba(69, 68, 68, 1) 50%,
    rgb(45, 45, 45) 75%,
    rgba(25, 25, 25, 1) 100%
  );
  border-radius: 100%;
}

.disc:not(:hover) {
  animation-play-state: paused;
}

.disc:hover {
  scale: 1.1;
  cursor: pointer;
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  border-radius: 100%;
  width: 25%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-stretch: ultra-expanded;
  text-decoration: none;
  color: white;
  border: 5px solid rgb(30, 45, 38);
  border-style: inset 20px;
  z-index: 8;
}

.label::before {
  content: "";
  position: absolute;
  width: 10%;
  height: 10%;
  border-radius: 100%;
  background-color: rgb(88, 88, 88);
  z-index: 4;
}

.label::after {
  content: "";
  position: absolute;
  width: 5%;
  height: 5%;
  border-radius: 100%;
  background-color: rgb(179, 179, 179);
  z-index: 50;
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 55%;
  z-index: 70;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  color: rgb(88, 88, 88);
}

span::before {
  content: "Side A";
  left: 0;
  top: 300%;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(46, 46, 46);
  font-size: 1em;
}

span::after {
  content: "@HatzuHanna";
  left: 0;
  bottom: 300%;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(46, 46, 46);
  font-size: 1em;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media */

@media (max-width: 500px) {
  .disc {
    width: 350px;
    height: 350px;
  }

  .disc span {
    font-size: 10px;
  }

  .disc:not(:hover) {
    animation-play-state: initial;
  }

  span::after {
    bottom: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  span::before {
    top: 22.5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
