/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HatzuStyling */

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background: linear-gradient(-45deg, #52eea8, #ed88af, #a4efa6, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

main {
  position: relative;
  box-sizing: border-box;
  width: max-content;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border-radius: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.disc {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    45deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(69, 68, 68, 1) 50%,
    rgba(25, 25, 25, 1) 100%
  );
  width: 500px;
  height: 500px;
  color: rgb(0, 0, 0);
  border-radius: 100%;
  animation: rotate 5s linear infinite;
  animation-play-state: paused;
  transition: all 1s;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
}

.disc::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(25, 25, 25);
  background: radial-gradient(
    circle,
    rgba(25, 25, 25, 1) 0%,
    rgba(25, 25, 25, 1) 30%,
    rgba(255, 255, 255, 1) 31%,
    rgba(25, 25, 25, 1) 32%,
    rgba(255, 255, 255, 1) 33%,
    rgba(25, 25, 25, 1) 34%,
    rgba(255, 255, 255, 1) 35%,
    rgba(25, 25, 25, 1) 36%,
    rgba(255, 255, 255, 1) 37%,
    rgba(25, 25, 25, 1) 38%,
    rgba(255, 255, 255, 1) 39%,
    rgba(25, 25, 25, 1) 40%,
    rgba(255, 255, 255, 1) 41%,
    rgba(25, 25, 25, 1) 42%,
    rgba(255, 255, 255, 1) 43%,
    rgba(25, 25, 25, 1) 44%,
    rgba(255, 255, 255, 1) 45%,
    rgba(25, 25, 25, 1) 46%,
    rgba(255, 255, 255, 1) 47%,
    rgba(25, 25, 25, 1) 48%,
    rgba(255, 255, 255, 1) 49%,
    rgba(25, 25, 25, 1) 50%,
    rgba(255, 255, 255, 1) 51%,
    rgba(25, 25, 25, 1) 52%,
    rgba(255, 255, 255, 1) 53%,
    rgba(25, 25, 25, 1) 54%,
    rgba(255, 255, 255, 1) 55%,
    rgba(25, 25, 25, 1) 56%,
    rgba(255, 255, 255, 1) 57%,
    rgba(25, 25, 25, 1) 58%,
    rgba(255, 255, 255, 1) 59%,
    rgba(25, 25, 25, 1) 60%,
    rgba(255, 255, 255, 1) 61%,
    rgba(25, 25, 25, 1) 62%,
    rgba(255, 255, 255, 1) 63%,
    rgba(25, 25, 25, 1) 64%,
    rgba(255, 255, 255, 1) 65%,
    rgba(25, 25, 25, 1) 66%,
    rgba(255, 255, 255, 1) 67%,
    rgba(25, 25, 25, 1) 68%,
    rgba(255, 255, 255, 1) 69%,
    rgba(25, 25, 25, 1) 70%,
    rgba(255, 255, 255, 1) 71%,
    rgba(25, 25, 25, 1) 72%,
    rgba(255, 255, 255, 1) 73%,
    rgba(25, 25, 25, 1) 74%,
    rgba(255, 255, 255, 1) 75%,
    rgba(25, 25, 25, 1) 76%,
    rgba(255, 255, 255, 1) 77%,
    rgba(25, 25, 25, 1) 78%,
    rgba(255, 255, 255, 1) 79%,
    rgba(25, 25, 25, 1) 80%,
    rgba(255, 255, 255, 1) 81%,
    rgba(25, 25, 25, 1) 82%,
    rgba(255, 255, 255, 1) 83%,
    rgba(25, 25, 25, 1) 84%,
    rgba(255, 255, 255, 1) 85%,
    rgba(25, 25, 25, 1) 86%,
    rgba(255, 255, 255, 1) 87%,
    rgba(25, 25, 25, 1) 88%,
    rgba(255, 255, 255, 1) 89%,
    rgba(25, 25, 25, 1) 90%,
    rgba(255, 255, 255, 1) 91%,
    rgba(25, 25, 25, 1) 92%,
    rgba(255, 255, 255, 1) 93%,
    rgba(25, 25, 25, 1) 94%,
    rgba(255, 255, 255, 1) 95%,
    rgba(25, 25, 25, 1) 96%,
    rgba(255, 255, 255, 1) 97%,
    rgba(25, 25, 25, 1) 98%,
    rgba(255, 255, 255, 1) 99%,
    rgba(25, 25, 25, 1) 100%
  );

  z-index: 5;
  border-radius: 100%;
  filter: opacity(0.015);
}

.disc::before {
  content: "";
  position: absolute;
  width: 40%;
  height: 40%;
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgb(42, 42, 42) 25%,
    rgba(69, 68, 68, 1) 50%,
    rgb(45, 45, 45) 75%,
    rgba(25, 25, 25, 1) 100%
  );
  border-radius: 100%;
}

.github {
  padding: 10px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  position: absolute;
  bottom: -6.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  height: max-content;
  z-index: 10;
  visibility: hidden;
  border-radius: 16px;
  font-family: inter;
  text-decoration: none;
  background-color: #000000;
  font-size: 1.2em;
  overflow: visible;
  transition: all 5ms ease-in-out;
  padding-left: 0;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.2em;
  font-weight: 700;
}

.sideb {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  height: 100%;
  /* background-color: red; */
  color: white;
}

.link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  width: 100px;
  height: 100%;
  background-color: aliceblue;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  text-decoration: none;
}

.link:hover {
  background-color: hsla(70, 100%, 85%, 0.875);
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  font-size: 0.9em;
}

main:hover > .github {
  background-color: hsla(0, 1%, 35%, 0.274);
  visibility: visible;
  text-decoration: none;
  box-shadow: inset 0px 0px 20px 2px rgb(155, 155, 155);
  transition: all 10ms;
}

main:hover > .disc {
  visibility: visible;
  animation-play-state: running;
  scale: 3;
  transition: all 1.5s;
}

.label {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(254, 255, 94);
  border-radius: 100%;
  width: 25%;
  height: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-stretch: ultra-expanded;
  text-decoration: none;
  color: white;
  z-index: 8;
  overflow: hidden;
}
.label::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  box-sizing: border-box;
  border: 2.5px solid rgb(233, 238, 72);
  border-radius: 100%;
}

.label::before {
  content: "";
  width: 30%;
  height: 30%;
  background-color: rgb(233, 238, 73);
  z-index: 6;
  border-radius: 100%;
}

.top {
  position: absolute;
  content: "";
  height: 10%;
  width: 10%;
  background-color: black;
  z-index: 100;
  border-radius: 100%;
}
.hatzu {
  content: "";
  position: absolute;
  /* background-color: #23d5ab; */
  top: 8%;
  text-align: justify;
  text-align-last: center;
  font-size: 0.4em;
  color: #000000;
  font-family: inter;
  font-weight: 800;
  text-shadow: -1px 1px 0 #ffffff;
}
.stereo {
  box-sizing: border-box;
  position: absolute;
  width: 110%;
  height: 35%;
  background-color: transparent;
  z-index: 800;
  border: 1px solid rgb(0, 0, 0);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.stereotitle,
.rpm {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: inter;
  font-weight: 800;
}

.stereotitle {
  width: 40%;
  color: rgb(0, 0, 0);
  font-size: 0.4rem;
  z-index: 90;
  align-items: center;
  justify-content: center;
  /* background-color: #a4efa6; */
  padding-left: 2.5px;
}

.rpm {
  width: 40%;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  z-index: 90;
  align-items: center;
  justify-content: center;
  /* background-color: #a4efa6; */
  padding-right: 2.5px;
}

.rpm::after {
  font-family: inter;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "SIDE A";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  color: black;
  bottom: -100%;
  font-size: 0.6em;
  /* background-color: #000000; */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Media */

@media (max-width: 500px), (max-height: 500px) {
  .disc {
    width: 350px;
    height: 350px;
  }

  .github {
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    position: absolute;
    top: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: max-content;
    z-index: 10;
    visibility: hidden;
    border-radius: 16px;
    font-family: inter;
    text-decoration: none;
    background-color: #000000;
    font-size: 1.2em;
    overflow: visible;
    transition: all 5ms ease-in-out;
  }
  main:hover > .disc {
    visibility: visible;
    animation-play-state: running;
    scale: 1.1;
    transition: all 1.5s;
  }

  .sideb {
    color: #000000;
  }

  #l1::after {
    bottom: 15px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  #l1::before {
    top: 22.5px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
}
